.container
    .row
        .col-md-12
            .table.table-striped.tavle-bordered 
                .thead
                    .tr 
                        .th 
                            .td #id 
                            .td Ürün Adı
                            .td Fiyat
                            .td Stok 
                .tbody 
                    .tr 
                        .th 
                            .td 
                            .td 
                            .td 
                            .td 
                            